.App {
  text-align: center;
}

.image1{
    height: 140px;
    width: 200px;
    position: absolute;
    left: 20px;
    top: 2px;
    opacity: 0.6;
}
.post{
    overflow: hidden;
    padding-left: 200px;
}